<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <title>Main Page</title>
</head>
<body>
<div class="jumbotron">
  <h1 class="display-4">Welcome to MyShop</h1>
  <p class="lead">This is a simple online shopping website, a simple creativity by me -all things for your daily life is available in it
      extra attention to featured content or information.You can buy things, add to cart and track ur order also.</p>
  <hr class="my-4">
  <p>Thank u for visit on my website here you have two options you can go to shop or go to blog.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Shop</a>
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Go To Blog</a>
  </p>
</div>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>